SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# FNE (DGI Côte d'Ivoire)
FNE_ACTIF=False
FNE_API_KEY=
FNE_BASE_URL=http://54.247.95.108/ws
FNE_POINT_OF_SALE=
FNE_ETABLISSEMENT=
FNE_TAXE_CODE=TVAC
